
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  background: #e6f1f3;
}

.timer-container {
  text-align: center;
  padding: 0;
  width: 160px;
}

h2 {
  font-size: 18px;
  margin: 0;
}

.subhead {
  font-size: 14px;
  margin-bottom: 4px;
}

.countdown {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 74px;
  left: 50%;
  transform: translateX(-50%);
}

.button-container {
  margin-top: 16px;
}

button {
  background-color: #4BA3BB;
  color: white;
  font-size: 10px;
  margin: 0 2px;
  padding: 4px 6px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #3c8fa6;
}

.circle-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.progress-ring__circle {
  transition: 0.5s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
